body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
body > h1 {
  position: absolute;
  top: 10px;
}
input {
  border: none;
}
input:focus {
  outline: none;
}
.graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first,
.second {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first input,
.second input {
  width: 50px;
  border-bottom: 1px solid black;
  text-align: center;
}
.check {
  margin-top: 30px;
}
.result {
  position: absolute;
  bottom: 180px;
}
footer {
  position: absolute;
  bottom: 10px;
}
